.c-display {
  margin-top: -1vmin;
  text-align: center;
  line-height: 1;
}

.c-display__background {
  display: inline-block;
  margin: 0 auto;
  border-radius: .5vmin;
  background-image: linear-gradient(to bottom, $display-bg-color--secondary 50%, $display-bg-color 50%);
}

.c-display__digit {
  @include display-font();
  color: $display-digit-text-color;
  background-color: $display-digit-bg-color;
  font-size: 6vmin;
  padding: 0 .2rem;

  &:not(:last-child) {
    margin-right: -.4rem;
  }

  &:first-child {
    border-top-left-radius: .5vmin;
  }

  &:last-child {
    border-top-right-radius: .5vmin;
  }
}

.c-display__digit.is-active {
  color: $display-digit-text-color--active;
}
