.c-simon {
  border-radius: 50%;
  height: 40vmin;
  position: relative;
  width: 40vmin;
  background-image: linear-gradient(to bottom, #333 50%, #fdfaf7 50%);
  border: 2vmin solid #333;
}

.c-simon__control-panel {
  padding-top: 2vmin;
  text-align: center;
}

.c-simon__heading {
  @include heading-font();
  color: #fdfaf7;
  font-size: 10vmin;
  margin: 3vmin 0 0;
  text-align: center;
}

.c-simon__sub-heading {
  font-size: 1vmin;
}

.c-background {
  border-radius: 50%;
  height: 95vmin;
  position: absolute;
  width: 95vmin;
  z-index: -2;
  background-color: #333;
}
