.c-simon {
  border-radius: 50%;
  height: 40vmin;
  position: relative;
  width: 40vmin;
  z-index: 1;
  background-image: linear-gradient(to bottom, $game-bg-color 50%, $game-bg-color--secondary 50%);
  border: 2vmin solid $game-bg-color;
}

.c-simon__control-panel {
  padding-top: 2vmin;
  text-align: center;
}

.c-simon__heading {
  @include heading-font();
  color: $game-bg-color--secondary;
  font-size: 10vmin;
  margin: 3vmin 0 0;
  text-align: center;
}

.c-simon__sub-heading {
  font-size: 1vmin;
}
